$game-border-color: #fffbe6;
$game-border-shadow-background: #ffdf33;
$game-background: #1e1e1e;

.controls-container {
  width: 100%;
  min-height: 25%;
  box-sizing: border-box;
  position: relative;
  border-top: 5px dotted white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  overflow: hidden;
  text-align: center;
  color: white;
}
