.canvas-chart {
  max-width: 700px;
  width: 90%;
  height: auto;
}

.statistics-wrapper {
  background-color: rgba(250, 250, 250, 0.5);
}

.statistic-chart {
  font-weight: bold;
}

.all-learned-words {
  margin: 5px 0 10px 0;
  font-weight: bold;
}

.no-words {
  margin-top: 120px;
  color: rgb(50, 135, 204);
  font-size: 2em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #272626, 0 2px 0 #272626, 0 3px 0 #272626, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
