.canvas-chart {
  max-width: 700px;
  width: 90%;
  height: auto;
}

.statistics-wrapper {
  background-color: rgba(250, 250, 250, 0.5);
}

.statistic-chart {
  font-weight: bold;
}

.all-learned-words {
  margin: 5px 0 10px 0;
  font-weight: bold;
}