.savannah-controls {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.savannah-game {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
