$game-border-color: #fffbe6;
$game-border-shadow-background: #ffdf33;
$game-background: #1e1e1e;

.game-container {
  width: 100%;
  max-width: 1000px;
  min-width: 450px;
  box-sizing: border-box;
  position: relative;
  border: 5px solid $game-border-color;
  box-shadow: 0 0 20px game-border-shadow-background;
  background-color: $game-background;
  border-radius: 7%;
  user-select: none;
  overflow: hidden;
  text-align: center;
}

.game-container::before {
  content: '';
  float: left;
  padding-top: 56.25%;
}

.game-inner-container {
  position: absolute;
  left: 7.5%;
  top: 5%;
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  align-content: center;
}
