.text-book-wrapper {
  width: 100vw;
}

.text-book-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}

.burger-wrapper,
.burger-wrapper_active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  transition: 0.2s ease-in-out;
  height: 90vh;
  padding-top: 7px;
  background-color: aqua;
}

.burger-wrapper {
  width: 50px;
}

.burger-wrapper_active {
  width: 150px;
  z-index: 2;
}

.text-book-main {
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 80vh;
  background-color: burlywood;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 50px);
  height: 100%;
  background-color: gold;
}

.overlay {
  display: none;
}

.overlay_active {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 0.3;
  z-index: 1;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 10vh;
  background-color: rebeccapurple;
}

.footer-container {
  width: calc(100vw - 50px);
}
