.main-container-wrapper {
  background-image: url('../../assets/background/autorization.bg.jpeg');
  background-position: center center;
  background-size: cover;
}

.main-page-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.header-container {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 10vh;
  background-color: rgba(250, 250, 250, 0.5);
  z-index: 1;
}

.main {
  position: relative;
  width: 100%;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 90vh;
  background-image: url('../../assets/background/preview/preview_1.jpeg');
  background-position: center center;
  background-size: cover;
  transition: 0.2s ease-in-out;
  opacity: 1;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  background-image: url('../../assets/background/preview/preview_2.jpeg');
  background-position: center center;
  background-size: cover;
  transition: 0.2s ease-in-out;
  opacity: 1;
}

.demonstration-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 100vh;
  background-image: url('../../assets/background/preview/preview_3.jpeg');
  background-position: center center;
  background-size: cover;
  transition: 0.2s ease-in-out;
  opacity: 1;
}

.demonstration-app-video {
  width: 90%;
  height: 70%;
  border-radius: 7px;
}

.about-the-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  background-image: url('../../assets/background/preview/preview_4.jpeg');
  background-position: center center;
  background-size: cover;
  transition: 0.2s ease-in-out;
}

.mini-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  background-image: url('../../assets/background/preview/preview_5.jpeg');
  background-position: center center;
  background-size: cover;
  transition: 0.2s ease-in-out;
}

.statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  background-image: url('../../assets/background/preview/preview_6.jpeg');
  background-position: center center;
  background-size: cover;
  transition: 0.2s ease-in-out;
}

.footer-container {
  width: 100%;
}

div.preview > button,
.description,
div.demonstration-app,
div.about-the-team,
.mini-games,
div.statistics {
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 rgb(114, 112, 112), 0 2px 0 #615f5f, 0 3px 0 #615f5f, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.description {
  font-size: 2rem;
  padding: 0 15px;
  text-shadow: none;
}

.description-inner {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.mini-games {
  font-size: 1rem;
}

.mini-games-cards {
  font-size: 1rem;
  color: #000000;
  text-shadow: none;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.mini-games-cards > * {
  width: 23%;
  @media (max-width: 720px) {
    width: 48%;
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
}

.about-the-team-title {
  margin-bottom: 30px;
}

.developers-cards {
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 800px - 1px) and (max-width: 1200px - 1px) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 768px - 1px) and (max-width: 800px - 1px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (min-width: 375px - 1px) and (max-width: 768px - 1px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (min-width: 320px - 1px) and (max-width: 375px - 1px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.developer1-card,
.developer2-card {
  margin-right: 30px;
}

.developer1-card,
.developer2-card,
.developer3-card {
  @media (min-width: 1200px) {
    width: 18rem;
  }
  @media (min-width: 800px - 1px) and (max-width: 1200px - 1px) {
    width: 18rem;
  }
  @media (min-width: 768px - 1px) and (max-width: 800px - 1px) {
    width: 17rem;
  }
  @media (min-width: 375px - 1px) and (max-width: 768px - 1px) {
    width: 8rem;
  }
  @media (min-width: 320px - 1px) and (max-width: 375px - 1px) {
    width: 8rem;
  }
}

.developer3-card {
  @media (min-width: 768px - 1px) and (max-width: 800px - 1px) {
    margin-top: 10px;
  }
  @media (min-width: 375px - 1px) and (max-width: 768px - 1px) {
    margin-top: 10px;
  }
  @media (min-width: 320px - 1px) and (max-width: 375px - 1px) {
    margin-top: 10px;
  }
}

.about-dev-info {
  font-size: 20px;
  @media (min-width: 1200px) {
    font-size: 20px;
  }
  @media (min-width: 800px - 1px) and (max-width: 1200px - 1px) {
    font-size: 20px;
  }
  @media (min-width: 768px - 1px) and (max-width: 800px - 1px) {
    font-size: 20px;
  }
  @media (min-width: 375px - 1px) and (max-width: 768px - 1px) {
    font-size: 14px;
  }
  @media (min-width: 320px - 1px) and (max-width: 375px - 1px) {
    font-size: 14px;
  }
  color: rgb(31, 112, 189);
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: none;
}
