@import '../gameContainer/GameContainer.scss';
.mic-icon-container {
  text-align: center;
  border-radius: 50%;
  border: 2px solid $game-border-color;
  color: $game-border-color;
  font-weight: bold;
  font-size: 48px;
  line-height: 0;
  outline: none;
}

.mic-icon {
  font-size: unset;
}

.recording {
  animation: 1s linear infinite;
  animation-name: waves;
}

@keyframes waves {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 0px 0px 2px 12.5px $game-background, 0px 0px 2px 15px $game-border-color;
  }
}
