@import '../../../../../assets/stylesheets/index.scss';

p {
  margin-bottom: 7px;
}

.learning-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.learning-card {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
  height: 90%;
  padding: 5px;
  // border: solid blueviolet 1px;
  background-color: rgba(250, 250, 250, 0.6);
  border-radius: 7px;
  box-shadow: 0px 0px 20px 3px #99a0a3;
}

.image {
  max-width: 400px;
  width: 85%;
  border-radius: 9px;
}

.word,
.transcription,
.word-translate {
  font-weight: $titleTextBold;
  @media (min-width: 1200px) {
    font-size: $titleText20;
  }
  @media (min-width: 400px - 1px) and (max-width: 1200px - 1px) {
    font-size: $titleText20;
  }
  @media (min-width: 320px - 1px) and (max-width: 400px - 1px) {
    font-size: $titleText16;
  }
}

.transcription {
}

.word-translate {
}

.text-meaning {
  display: flex;
}

.text-meaning-translate {
}

.text-example {
  display: flex;
}

.text-example-translate {
}

.form {
}

.input {
}

.submit-button {
  background: chartreuse;
  border-radius: 7px;
  margin: 0 5px 0 5px;
}

.view-answer {
}

.audio-play-button {
  background: hotpink;
  border-radius: 7px;
  margin: 0 5px 0 5px;
}

.category-switcher {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 700px;
  width: 100%;
  height: 70px;
}

.category-button,
.category-button_active {
  background-color: deepskyblue;
  border-radius: 7px;
  margin: 3px;
}

.category-button_active {
  box-shadow: 0 0 20px 7px green;
  background-color: greenyellow;
}

.no-words {
  margin-top: 120px;
  color: rgb(50, 135, 204);
  font-size: 2em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #272626, 0 2px 0 #272626, 0 3px 0 #272626, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
