@import '../gameContainer/GameContainer.scss';
.health-indicator {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  color: $game-border-color;
  font-weight: bold;
  line-height: 25px;
}
