.quit-button,
.quit-button_active {
  display: flex;
  padding: 50px 0 50px 11px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.quit-button {
  width: 32px;
}

.quit-button_active {
  width: 140px;
}

.quit-button-label {
  margin-left: 5px;
}

.quit-icon {
}
