@charset 'UTF-8';

$mainText16: 16px;
$mainText14: 14px;

$titleText16: 16px;
$titleText20: 20px;
$titleTextBold: bold;

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
}
