.learning-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  height: 90%;
  border: solid blueviolet 1px;
  border-radius: 7px;
}
