.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.type-of-learning-switcher {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 700px;
  width: 100%;
  height: 7%;
}

.type-of-learning-button,
.type-of-learning-button_active {
  background-color: aquamarine;
  border-radius: 7px;
}

.type-of-learning-button_active {
  box-shadow: 0 0 20px 7px green;
  background-color: greenyellow;
}

.learning-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 93%;
}
