.learning-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  height: 90%;
  border: solid blueviolet 1px;
  border-radius: 7px;
}

.image {
  border-radius: 9px;
  margin: 5px;
}

.word {

}

.transcription {

}

.word-translate {

}

.text-meaning {

}

.text-meaning-translate {

}

.text-example {

}

.text-example-translate {

}

.form {

}

.input {

}

.submit-button {

}

.view-answer {

}

.category-buttons {
  display: flex;
}
